.services {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  & .content {
    width: 75%;
    margin: 0 auto;
    padding: 50px;
    min-height: 500px;
    background: white;
    opacity: 0.7;

    & p {
      padding-top: 50px;
      color: black;
    }
  }
}
